.calculator{
    text-align: center;
    margin-top: 27px;
}
table{
margin: auto;
}
body{
    background-image: url("img.png");
    background-repeat:no-repeat ;
    
    
}
input{
    font-size: 35px;
    border-radius: 10px;
}
button{
    font-size: 40px;
    background-color: rgb(15, 175, 238);
    width: 105px;
    height: 60px;
    border-radius:15px ;
}
